@model IEnumerable<BankingApp.Models.MONEDA>

@{
        Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <div class="overflow-auto">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CODIGO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NOMBRE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SIMBOLO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ESTADO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FECHA_CREACION)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-nowrap">
                        @Html.DisplayFor(modelItem => item.CODIGO)
                    </td>
                    <td class="text-nowrap">
                        @Html.DisplayFor(modelItem => item.NOMBRE)
                    </td>
                    <td class="text-nowrap">
                        @Html.DisplayFor(modelItem => item.SIMBOLO)
                    </td>
                    <td class="text-nowrap">
                        @Html.DisplayFor(modelItem => item.ESTADO)
                    </td>
                    <td class="text-nowrap">
                        @Html.DisplayFor(modelItem => item.FECHA_CREACION)
                    </td>
                    <td class="text-nowrap">
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID_MONEDA }, new { @class = "btn btn-secondary" }) 
                        @Html.ActionLink("Details", "Details", new { id = item.ID_MONEDA }, new { @class = "btn btn-primary" }) 
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID_MONEDA }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
